<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Karan Bangia - Back End Developer, Deep Learning Enthusiast</title>
    <meta content="" name="description">
    <meta content="" name="author">

    <!-- Favicons
        ================================================== -->
<!--    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" type="image/x-icon">-->
<!--    <link th:href="@{/img/apple-touch-icon.png}" rel="apple-touch-icon">-->
<!--    <link th:href="@{/img/apple-touch-icon-72x72.png}" rel="apple-touch-icon" sizes="72x72">-->
<!--    <link th:href="@{/img/apple-touch-icon-114x114.png}" rel="apple-touch-icon" sizes="114x114">-->

    <!-- Bootstrap -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/fonts/font-awesome/css/font-awesome.css}" rel="stylesheet" type="text/css">

    <!-- Stylesheet
        ================================================== -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/prettyPhoto.css}" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
    <script th:src="@{/js/modernizr.custom.js}" type="text/javascript"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">

<!-- Header -->
<header id="header">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="intro-text">
                    <h1>Hello, I'm <span class="name">Karan Bangia</span></h1>
                    <p>Junior Back-end Developer & Deep Learning Enthusiast</p>
                    <a class="btn btn-default btn-lg page-scroll" href="#about">Learn More</a></div>
            </div>
        </div>
    </div>
</header>
<!-- Navigation -->
<div id="nav">
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target=".navbar-main-collapse" data-toggle="collapse" type="button">
                    <i class="fa fa-bars"></i></button>
                <a class="navbar-brand page-scroll" href="#page-top">Karan Bangia</a></div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#about">About</a></li>
                    <li><a class="page-scroll" href="#skills">Skills</a></li>
                    <li><a class="page-scroll" href="#portfolio">Portfolio</a></li>
                    <li><a class="page-scroll" href="#resume">Resume</a></li>
                    <li><a class="page-scroll" href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Me</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><img class="img-responsive" src="img/about.jpg"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <p>I am an enthusiastic back-end developer. Lots of interest in learning new Skills.
                        My hobbies are playing chess, badminton and reviewing movies. I am currently improving my skills in springboot, JPA, thymleaf</p>
                    <p class="text-center"><a class="btn btn-primary" href="https://drive.google.com/file/d/15kbuH1yD1ImDSf5XXR3nPIPNEP21cXj_/view?usp=drivesdk" target="_blank"><i class="fa fa-download"></i> Download
                        Resume</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skills Section -->
<div class="text-center" id="skills">
    <div class="container">
        <div class="section-title center">
            <h2>Skills</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 skill"><span class="chart" data-percent="80"> <span class="percent">80</span> </span>
                <h4>JAVA</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"><span class="chart" data-percent="70"> <span class="percent">70</span> </span>
                <h4>SpringBoot</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"><span class="chart" data-percent="75"> <span class="percent">75</span> </span>
                <h4>MySQL</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"><span class="chart" data-percent="60"> <span class="percent">60</span> </span>
                <h4>AI/ML</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"><span class="chart" data-percent="60"> <span class="percent">60</span> </span>
                <h4>HTML/CSS</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"><span class="chart" data-percent="85"> <span class="percent">85</span> </span>
                <h4>DS & Algo</h4>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Portfolio</h2>
            <hr>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a class="active" data-filter="*" href="#">All</a></li>
                        <li><a data-filter=".web" href="#">Web Design</a></li>
                        <li><a data-filter=".app" href="#">App Development</a></li>
                        <li><a data-filter=".branding" href="#">Branding</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/01-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>Web Design</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/01-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/02-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>App Development</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/02-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/03-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>Web Design</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/03-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/04-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>Web Design</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/04-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/05-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>App Development</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/05-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/06-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>Branding</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/06-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/07-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>App Development, Branding</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/07-small.jpg"> </a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg"><a href="img/portfolio/08-large.jpg" rel="prettyPhoto"
                                                 title="Project description">
                            <div class="hover-text">
                                <h4>Project Title</h4>
                                <small>Web Design</small></div>
                            <img alt="Project Title" class="img-responsive" src="img/portfolio/08-small.jpg"> </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Achievements Section -->
<!--<div class="text-center" id="achievements">-->
<!--    <div class="container">-->
<!--        <div class="section-title center">-->
<!--            <h2>Some Stats</h2>-->
<!--            <hr>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="200ms">-->
<!--                <div class="achievement-box"><span class="count">310</span>-->
<!--                    <h4>Happy Clients</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="400ms">-->
<!--                <div class="achievement-box"><span class="count">4700</span>-->
<!--                    <h4>Hours of Work</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="600ms">-->
<!--                <div class="achievement-box"><span class="count">30</span>-->
<!--                    <h4>Awards Won</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="800ms">-->
<!--                <div class="achievement-box"><span class="count">8</span>-->
<!--                    <h4>Years of Experience</h4>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Resume Section -->
<div class="text-center" id="resume">
    <div class="container">
        <div class="section-title center">
            <h2>Experience</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>July-2020 <br>
                                - <br>
                                Present </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Wipro Turbo</h4>
                                <h4 class="subheading">Upcoming Software Developer</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Will Soon join Wipro for full-time.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Jan-2020 <br>
                                - <br>
                                July-2020 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ericsson</h4>
                                <h4 class="subheading">R&D Intern</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Got my first Industrial Training .</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-title center">
            <h2>Education</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <!-- Education Section-->

                    <li>
                        <div class="timeline-image">
                            <h4>2010 <br>
                                - <br>
                                2011 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Thapar University</h4>
                                <h4 class="subheading">Bachelor Degree in Electronics & Computers</h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>2016 <br>
                                - <br>
                                2020 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Modern Delhi Public School, Faridabad</h4>
                                <h4 class="subheading">92.2%</h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>2014 <br>
                                - <br>
                                2016 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Modern Vidya Niketan School, Faridabad</h4>
                                <h4 class="subheading">91.2%</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section -->
<div class="text-center" id="contact">
    <div class="container">
        <div class="section-title center">
            <h2>Contact</h2>
            <hr>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4"><i class="fa fa-map-marker fa-2x"></i>
                <p>H.No 2055/16,<br>
                    Faridabad,121002</p>
            </div>
            <div class="col-md-4"><i class="fa fa-envelope-o fa-2x"></i>
                <p>karanbangia14@gmail.com</p>
            </div>
            <div class="col-md-4"><i class="fa fa-phone fa-2x"></i>
                <p> +91-8076433030</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h3>Leave me a message</h3>
            <form id="contactForm" name="sentMessage" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="name" placeholder="Name" required="required" type="text">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" id="email" placeholder="Email" required="required" type="email">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" name="message" placeholder="Message" required
                              rows="4"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div id="success"></div>
                <button class="btn btn-default" type="submit">Send Message</button>
            </form>
            <div class="social">
                <ul>
                    <li><a href="https://www.facebook.com/karan.bangia.5" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/karan_bangia" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://github.com/karanbangia" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/blurrybangia/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/karan-bangia-519099126/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container text-center">
        <div class="fnav">
            <p>Copyright &copy; 2020 Karan Bangia.</p>
        </div>
    </div>
</div>
<script th:src="@{/js/jquery.1.11.1.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
<script th:src="@{/js/SmoothScroll.js}" type="text/javascript"></script>
<script th:src="@{/js/easypiechart.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.prettyPhoto.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.isotope.js}" type="text/javascript"></script>
<script th:src="@{/js/jquery.counterup.js}" type="text/javascript"></script>
<script th:src="@{/js/waypoints.js}" type="text/javascript"></script>
<script th:src="@{/js/jqBootstrapValidation.js}" type="text/javascript"></script>
<script th:src="@{/js/contact_me.js}" type="text/javascript"></script>
<script th:src="@{js/main.js}" type="text/javascript"></script>
</body>
</html>